/**
 * 全局层
 */

div, body {
  position: absolute;
  padding: 0;
  margin: 0;
}
body{
  background: #d22;
}
.transiton {
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
body {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}
.container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}
.visible{
  opacity: 1;
  pointer-events:visible;
}
.hidden{
  opacity: 0;
  pointer-events:none;
}
.draw-container {
  position: relative;
  margin-top: 100px;
  left: 10%;
  width: 80%;
  box-shadow: 0px 0px 10px rgba(90,0,0,0.6);
  padding-top: 80%;
}
.painter{
  background: rgba(255,255,255,0.8);
  /*position: absolute;*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main-container{
  background-image: url("./img/1.png");
  background-size: 100% 100%;
}
.ui-container {
  pointer-events: none;
  padding-top: 20px;
  left: 0%;
  width: 90%;
  height: 100px;
  position: relative;
}
.zhufu-container {
  opacity: 0;
  background-color: rgba(200,0,0,0.8);
  position: absolute;
  width: 20%;
  top: 10px;
  padding: 5px 5px;
  left: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}
/**
 * ui细节层
 */
.entry {
  position: absolute;
  background-color: rgba(250, 250, 250, 0.9);
  top: 20%;
  width: 100%;
  height: 0px;
  vertical-align: middle;
  padding-top: 100%;
  pointer-events: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.entry-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  pointer-events: none;
}
.draw-tools-icon-help{
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width:auto;
}
.small-button{
  position:relative;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  vertical-align: middle;
  text-align: center;
  border-radius: 30px;
  background: rgba(250,250,250,0.4);
  margin: 5px 5px;
  padding:0px 10px;
  color: #fff;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
  pointer-events:auto;
}
.small-helper{
  width: 100%;
  display: block;
  margin-bottom: 15px;
}
.transparent {
  background-color: transparent;
  color: rgba(100, 100, 100, 1);
}
.big-font {
  font-size: 30px;
}
/**
 * buttons
 */
.btn-mobile{
  position: relative;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
}
.block{
  display: block;
}
.inline-block{
  display: inline-block;
}
.iconfont-mobile{
  width: 40px;
  height: 40px;
  top: 10px;
  line-height: 40px;
  text-align: center;
  vertical-align: bottom;
  font-size: 30px;
  margin: 10px 5px 0px 10px;
  pointer-events:auto;
}

.red-bg {
  background-color: rgba(150, 0, 0, 1);
  color:#fff;
}
.gray-bg {
  background-color: rgba(130, 130, 130, 1);
  color: #fff;
}

.gray-transparent-middle{
  background-color: rgba(130, 130, 130, 0.6);
  color: #fff;
}

.gray-transparent-light{
  background-color: rgba(130, 130, 130, 0.2);
  color: #fff;
}

.red {
  color:#900;
}

.gray-high {
  color: rgba(130, 130, 130, 1);
}

.gray-middle{
  color: rgba(150, 150, 150, 1);
}

.gray-light{
  color: rgba(130, 130, 130, 1);
}

/*动画效果*/
@-webkit-keyframes fadeOutIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

input:-moz-placeholder {
    color: #999;
    left: 4px;
    letter-spacing: 2px;
}
::-webkit-input-placeholder {
    color: #999;
    left: 4px;
    letter-spacing: 2px;
}
::-moz-placeholder {
    color: #999;
    left: 4px;
    letter-spacing: 2px;
}

.text{
  font-size: 18px;
  color: #c00;
}
.important{
  background-color: #f90;
}

.input{
  margin:15px 10px 10px 10px;
  padding-left: 6px;
  border-radius: 3px;
  border: solid 1px #c46;
  width: 80%;
  height: 30px;
  -webkit-appearance: textfield;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto;
}
