.submit-line-group{
  padding: 0;
  position: relative;
  margin: 16px 10% 0px 10%;
  width: 80%;
  pointer-events: none;
}

.submit-container{
  z-index: 110;
  position: absolute;
  width: 100%;
  display: block;
  background-color: #333;
  top: 0;
  bottom: 0px;
  pointer-events:none;
}
.submit-title-group{
  margin-top: 10px;
}
.submit-title{
  display: inline-block;
  font-size: 50px;
  padding: 0;
  margin: 0;
  color: hsl(160,100%,40%);
}
.submit-vice-title{
  display: inline-block;
  font-size: 30px;
  color: hsl(160,100%,40%);
  padding: 0;
  margin: 0;
}
.inputs-container{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(250,250,250,0.9);
  z-index: 1000;
  pointer-events:auto;
}

input:-moz-placeholder {
    color: #555;
    left: 4px;
    letter-spacing: 2px;
    text-indent: 10px;
    font-size: 14px;
}
::-webkit-input-placeholder {
    color: #555;
    left: 4px;
    letter-spacing: 2px;
    text-indent: 10px;
    font-size: 14px;
}
::-moz-placeholder {
    color: #555;
    left: 4px;
    letter-spacing: 2px;
    text-indent: 10px;
    font-size: 14px;
}

.upload-input-group{
  position: relative;
  width: 100%;
  margin-top: 30px;  
  padding: 0px;
}
.upload-input-text{
  margin:10px 10% 10px 10%;
  width: 80%;
  text-indent: 10px;
  font-size: 18px;
  padding: 0;
  color: hsl(150,100%,25%);  
  border-radius: 2px;
  border: solid 0px #c46;
  height: 40px;
  line-height: 40px;
  background-color: #222;
  -webkit-appearance: textfield;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto;
  pointer-events: auto;
}
.select-tag-group{
  position: relative;
  margin: 10px 10% 5px 10%;
  width: 80%;
  text-align: left;
}
.select-tag{
  position: relative;
  display: inline-block;
  width: auto;
  padding: 5px 5px;
  margin: 0px 10px 10px 0px;
}
.select-tag-selected{
  color:  hsl(160,100%,40%);
  border: 5px solid hsl(160,100%,40%);  
}
.select-tag-unselected{
  color:  #666;
  border: 5px solid #666;  
}
.input-desc{
  position: relative;
  margin:0px 10% 0px 10%;
  width: 80%;
  color: #666;
  text-align: left;
  font-size: 14px;
}
.submit-submit-button{
  z-index: 11;
  position: relative;
  margin: 5px 10%;
  float: right;
  color: rgba(250,250,250,1);
  border-radius: 2px;
  background: hsl(160,100%,40%);
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  width: 40%;
  font-size: 18px;
  max-width: 150px;
  min-width: 100px;
  cursor: pointer;
  letter-spacing: 4px;
  pointer-events: auto;
}

