/**
 * 全局层
 */
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {/*防止字体旋转大小变化*/
  -webkit-text-size-adjust:none;
}

div, body, html {
  position: absolute;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0,0,0,0);/*点击后不会闪一下*/
  translateZ(0);/*据说写一句开启硬件加速*/
}
html, body {
  position: absolute;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #333;
  border: none;
  /*-webkit-touch-callout: none;*/
}

.out-left{
  display: none;
  /*transform-origin: 0% 0% 0;*/
  /*-webkit-transform-origin: 0% 0% 0;*/
  /*opacity: 0.0;*/
  /*-webkit-transform: scale3d(0, 0.0, 1);*/
  /*transform: scale3d(0, 0.0, 1);*/
}

.transition {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.transition-fast {
  -webkit-transition: all 0.05s ease-in-out;
  -moz-transition: all 0.05s ease-in-out;
  -o-transition: all 0.05s ease-in-out;
  transition: all 0.05s ease-in-out;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}
.first-container{
  pointer-events:none;
}
.bg-container{
  z-index: 0;
  -webkit-transition: background 0.15s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -moz-transition: background 0.15s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: background 0.15s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: background 0.15s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  background-color: #fff;
}

.draw-container {
  pointer-events:auto;
  z-index: 1,
  display: block;
  -webkit-transition: background 0.15s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -moz-transition: background 0.15s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -o-transition: background 0.15s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: background 0.15s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.ui-container {
  z-index: 4;
  pointer-events: none;
  -webkit-transform-style: preserve-3d;
  transform-style:  preserve-3d;
}
.layers-container{
  z-index: 1;
  background-color: #333;
}
/**
 * ui细节层
 */
.important-tools {
  position: absolute;
  top: 20px;
  left: 4px;
  opacity: 0;
}
.top-tools {
  position: absolute;
  top: 20px;
  left: 4px;
}
.shrink-expand {
/*  border: 6px dashed rgba(100, 100, 100, 0.3);*/
  color: rgba(100, 100, 100, 1);
  font-weight: bold;
}
.button {
  top: 85%;
  left: 20%;
  width: 60%;
  background-color: rgba(40, 40, 40, 0.8);
  text-align: center;
  vertical-align: middle;
  height: 40px;
  line-height: 40px;
  color: #f90;
}
.tools {
  position: absolute;
  top: 80px;
  left: 5px;
  width: auto;
  height: auto;
  pointer-events: auto;
  border-radius: 0px;
  /*box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);*/
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0;
  display: block;
}
.draw-tools-icons{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.draw-tools-icon-help{
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width:auto;
}

.end-tools {
  position: absolute;
  bottom: 0%;
  right: 0px;
  width: 100%;
  height: auto;
  pointer-events: auto;
  padding: 0px 5px 5px 5px;
  border-radius: 0px;
  /*box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);*/box-sha
  opacity: 0;
  /*background-color: rgba(255,255,255,0.2);*/
}
.btn {
  position: relative;
  height: 35px;
  line-height: 35px;
  width: 35px;
  pointer-events: auto;
}
.vertical-btn {
  margin: 10px 0px;
}
.horizontal-btn {
  margin: 0px 10px;
}
.dot {
  border-radius: 100px;
  /*border: 1px dashed rgba(90,90,90,0.8);*/
  height: 50px;
  line-height: 50px;
  /*background-color: rgba(130, 130, 130, 1);*/
  color: rgba(250, 250, 250, 1);
  display: block;
  text-align: center;
  vertical-align: middle;
}


.ui-grid{
  position:relative;
  display: block;
  width: 50px;
  height: 65px;
}
.icon-text{
  width: 100%;
  display: block;
  height: 25px;
}
.transparent {
  background-color: transparent;
  color: rgba(100, 100, 100, 1);
}
.big-font {
  font-size: 30px;
}

/**
 * buttons
 */
.btn-mobile{
  position: relative;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
}

.block{
  display: block;
}

.inline-block{
  display: inline-block;
}
.iconfont-mobile{
  width: 50px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: bottom;
  font-size: 30px;
  pointer-events:auto;
}

.red-bg {
  background-color: rgba(150, 0, 0, 1);
  color:#fff;
}
.gray-bg {
  background-color: rgba(130, 130, 130, 1);
  color: #fff;
}

.gray-transparent-middle{
  background-color: rgba(130, 130, 130, 0.6);
  color: #fff;
}

.gray-transparent-light{
  background-color: rgba(130, 130, 130, 0.2);
  color: #fff;
}

.red {
  color:#900;
}

.style-normal {
  color: rgba(130, 130, 130, 1);
}

.gray-middle{
  color: rgba(150, 150, 150, 1);
}

.gray-light{
  color: rgba(130, 130, 130, 1);
}

.sub-tools{
  position: absolute;
  opacity: 0;
  /*pointer-events:auto;*/
  box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
  pointer-events:none;
  background-color: rgba(250,250,250,0.9);
  max-width: 380px;
  width:100px;
  transition: background 0.2s;
  -moz-transition: background 0.2s; /* Firefox 4 */
  -webkit-transition: background 0.2s; /* Safari 和 Chrome */
  -o-transition: background 0.2s;
}
.tools-list{
  /*background: rgba(0,0,0,0.1);*/
  position: relative;
  text-align: left;
  width: 100%;
  height: auto;
  padding: 0 5px;
}
.tools-list-icon{
  background-color: rgba(0,0,0,0.2);
  color: #fff;
  width: auto;
  height: 28px;
  padding:0 8px;
  line-height: 28px;
  margin: 5px 2px;
  border-radius: 2px;
  text-align: center;
  display: inline-block;
  position: relative;
  font-size: 14px;
}
.tools-list-icon-active{
  background-color: #999;
}

.sub-tools-preview{
  position: relative;
  width: 100%;
  height: 80px;
  /*box-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
}

.control-ui{
  position: relative;
  margin: 10px 10px 20px 10px;
}

.float-tag{
  position: absolute;
  width: 200px;
  opacity: 0;
  pointer-events:auto;
}
.float-tag-help{
  background: rgba(0,0,0,0.6);
  position: relative;
  line-height: 40px;
  height: 40px;
  font-size: 12px;
  color: hsl(160,100%,40%);
  vertical-align: middle;
  text-align: center;
}

.float-tag-add{
  position: relative;
  width: 100%;
  height: auto;
  border-radius:1px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  /*box-shadow: 1px 1px 1px rgba(0,0,0,0.6);*/
}
.float-tag-img{
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.float-tag-triangle{
  position: relative;
  width: 0;
  border-bottom: 8px;
  border-right: 8px solid transparent;
  border-top: 8px solid rgba(0,0,0,0.6);
  border-left: 8px solid transparent;
  margin: 0 auto;
  height: 8px;
}
.color-grid{
  position: relative;
  display:inline-block;
}

.light-sat-container{
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 10px;
}

.light-sat-pointer{
  transition: background-color 0.4s ease;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #000;
  box-shadow: 1px 1px 1px #000;
  pointer-events:none;
}


.slider-container{/* 滚动条 */
  pointer-events:auto;
  position: relative;
  height:20px;
  width: 100%;
}
.slider-container-desc{
  width: 100%;
  position: relative;
  font-size: 12px;
  color: rgba(120,120,120,0.6);
  text-align: left;
  /*padding-left: 30px;*/
}
.slider-line-gradient{
  position: absolute;
  top: 50%;
  width: 100%;
  height: 3px;
  background:-webkit-linear-gradient(left, #f11 0%, #1f1 33.33%, #11f 66.67%, #f11 100%);
}
.slider-line{
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  background:rgba(150,150,150,0.5);
}
.slider-pointer{/* 滚动条上的指示点 */
  transition: background-color 0.2s ease;
  position: absolute;
  top: 2px;
  width: 16px;
  height: 16px;
  background-color: rgba(200,200,200,1);
  border-radius: 30px;
  pointer-events:none;
}

.photo {
  /*position: relative;*/
  display: block;
  border: 2px solid #ea8010;
  border-radius: 21px;
  color: #ea8010;
  margin: auto;
  padding: 18px 0;
  text-align: center;
  cursor: pointer;
  pointer-events:auto;
}
.photo:after {
  clear: both;
}

.photo img {
  display: block;
  margin: auto;
}
.photo-uploader{
  position: relative;
  width: 100%;
  pointer-events:auto;
}
input[type=file] {
  /*pointer-events:auto;*/
  font-size: 0;
  display: none;
  -webkit-tap-highlight-color: transparent;
}

/*
input[type=range] {
  pointer-events:auto;
  -webkit-appearance: none;  Hides the slider so that custom slider can be made
  width: 80%;
  height: 40px;
  background-color: transparent;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -10px;
  background-color: #999;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  cursor: pointer;
}
input[type=range]:focus {
  outline: none;  Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though.
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #ddd;
  border-color: transparent;
  color: transparent;
}*/
